.date{
  margin-right: 1vw
}
.phone{
  margin-right: 3vw
}
.duration{
  align-items: center;
  text-align: center;
  justify-content: center;
  transform: translateY(35%);
}
.player{
  position: absolute;
  display: flex;
  right: 0;
  top: 0;
}
.audio{
  margin-right: 20px;
}
.wrapper{
  position: relative;
  padding: 15px;
}
.title{
  display: flex;
  font-size: 25px;
  font-weight: 700;
  padding: 10px;
}
.titleDate{
  margin-left: 5px;
}
.titleNumber{
  margin-left: 82px;
}
.titleSound{
  margin-left: 442px;
}